@import url(http://ibidem.homeip.net/voidspace.css);

div.attention, div.caution, div.danger, div.error, div.hint,
div.important, div.note, div.tip, div.warning, div.admonition,
div.admonition-todo {
  background-color: lightgrey
}

table {
  margin-bottom: 0.5em;
  width: 90% }
 
body {
  margin: 2em }

dt {
  font-weight: bold ;
  text-align: left ;
  white-space: nowrap ;
  margin-bottom: 0em }

dd {
  margin-top: 0em ;
  margin-bottom: 1em }

h1.title, h2.subtitle, h1, h2, h3, h4, h5, h6 {
  text-align: left }

h1.title {
  font-size: 300% }

hr {
  text-align: left }

.row1 {
    background-color: darkgrey;
}

.row2 {
    background-color: lightgrey;
}

/* TV manager */
@media screen and (max-width: 1024px) {
    .tv-list {
        list-style-type: none;
        -webkit-padding-start: 0px;
        -moz-padding-start: 0px;
        -o-padding-start: 0px;
        padding-start: 0px;
        margin: 5px;
    }

    .tv-list a {
        margin: 15px 5px;
        font: bold 11px Arial;
        text-decoration: none;
        background-color: #EEEEEE;
        color: #333333;
        padding: 10px 15px 10px 15px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
        display: inline-block;
    }
}